/* FULL WIDTH WHITE SECTION */
.features-section {
  background: radial-gradient(
    1200px 600px at top center,
    #1e3a8a 0%,
    #020617 70%
  );
  padding: 140px 24px 80px;
  z-index: 1;
  position: relative;
}


.light .features-section {
  background: #f5f7fb;
}

.dark .features-section {
  background: linear-gradient(
    180deg,
    #3f3b6c 0%,
    #1a1a2e 100%
  );
}



.features-section::before {
  content: "";
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  height: 160px;
  background: linear-gradient(
    to bottom,
    rgba(6, 40, 191, 0),
    #ffffff
  );
} 

/* .features-section::after {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 160px;
  background: linear-gradient(
    to top,
    rgba(6, 40, 191, 0),
    #ffffff
  );
} */


/* CONTENT WIDTH CONTROL ONLY */




.features-eyebrow {
  font-size: 35px;
  letter-spacing: 0.12em;
  font-weight: 500;
  color: #836fd5;
}

/* HEADINGS */
.features-tag {
  font-size: 12px;
  letter-spacing: 0.12em;
  font-weight: 600;
  color: #14b8a6;
}

.features-title {
  font-size: 70px;
  font-weight: 800;
  margin: 16px 0;
  color: #32b6a4;
}

.features-subtitle {
  font-size: 35px;
  color: #8997a9;
  max-width: 10000px;
  margin: 0 auto 64px;
}

/* GRID */
.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

/* CARDS */
.feature-card {
  background: #160045;
  border: 1px solid #e5e7eb;
  border-radius: 30px;
  padding: 150px;
  text-align: left;
}

.feature-card h3 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #f8fafc;
}

.feature-card p {
  font-size: 27px;
  line-height: 1.5;
  color: #cbd5e1;
}

@media (max-width: 992px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

[data-theme="light"] .features-section {
  background: radial-gradient(
    1200px 600px at top center,
    var(--hero-bg-start) 0%,
    var(--hero-bg-end) 70%
  );

  color: var(--hero-text);
}

[data-theme="light"] .features-section::before {
  background: linear-gradient(
    to bottom,
    rgba(245, 247, 251, 0),
    #f5f7fb
  );
}

[data-theme="light"] .features-section::after {
  background: linear-gradient(
    to top,
    rgba(245, 247, 251, 0),
    #f5f7fb
  );
}

[data-theme="light"] .feature-card {
  background: #ffffff;
  border: 1px solid #020617;
}

[data-theme="light"] .feature-card h3 {
  color: #020617;
}

[data-theme="light"] .feature-card p {
  color: #475569;
}

/* FULL WIDTH WHITE SECTION */
.features-section {
  background: radial-gradient(
    1200px 600px at top center,
    #1e3a8a 0%,
    #020617 70%
  );
  padding: 140px 24px 80px;
  z-index: 1;
  position: relative;
}

.light .features-section {
  background: #f5f7fb;
}

